body {
    background-color: #f5efe6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-accueil {
    color: #363B48;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #D5CABC;
    padding: 0;
    width: 800px;
    height: 50px;
    border-radius: 20px;
    justify-content: space-around;
}

.menu a {
    padding: 0 40px;
    text-decoration: none;
    color: black;
    background-color: #f5efe6;
    border-radius: 10px;
}

.btn-message-audio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.btn-message-audio div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-message-audio figure {
    margin: 0;
    width: 100%;
    height: 405px;
}

button {
    width: 140px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: #BDA18A;
    color: #f5efe6;
    font-size: 20px;
    cursor: pointer;

}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
}

.btn-bruit {
    display: none;
}

/* ZONE FILMS */

.zone-films {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    height: 450px;
    
}

.film iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

video {
    width: 850px;
}

.film p {
    display: flex;
    width: 250px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: #BDA18A;
    color: #f5efe6;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}